
*.so
*.o
*.a
*.dSYM
*.orig
.hgignore

# Auto generated build files
src/Config.OS
src/headers/zconf.h
src/headers/zlib.h
src/isbigendian.c
src/analysisd/compiled_rules/compiled_rules.h

# Compiled programs
bin/agent_control
bin/clear_stats
bin/list_agents
bin/manage_agents
bin/ospatrol-agentd
bin/ospatrol-agentlessd
bin/ospatrol-analysisd
bin/ospatrol-csyslogd
bin/ospatrol-dbd
bin/ospatrol-execd
bin/ospatrol-logcollector
bin/ospatrol-logtest
bin/ospatrol-maild
bin/ospatrol-monitord
bin/ospatrol-remoted
bin/ospatrol-reportd
bin/ospatrol-syscheckd
bin/rootcheck_control
bin/syscheck_control
bin/syscheck_update
bin/
src/addagent/manage_agents
src/agentlessd/ospatrol-agentlessd
src/analysisd/ospatrol-analysisd
src/analysisd/ospatrol-logtest
src/client-agent/ospatrol-agentd
src/logcollector/ospatrol-logcollector
src/monitord/ospatrol-monitord
src/monitord/ospatrol-reportd
src/os_auth/agent-auth
src/os_auth/ospatrol-authd
src/os_csyslogd/ospatrol-csyslogd
src/os_dbd/ospatrol-dbd
src/os_execd/ospatrol-execd
src/os_maild/ospatrol-maild
src/remoted/ospatrol-remoted
src/syscheckd/ospatrol-syscheckd
src/util/agent_control
src/util/clear_stats
src/util/list_agents
src/util/rootcheck_control
src/util/syscheck_control
src/util/syscheck_update
src/analysisd/ospatrol-makelists
src/isbigendian
src/util/ospatrol-regex
src/util/verify-agent-conf
